a{
    margin: 10px;
    font-size:large;
}

.col-sm-2{
    border: 0px;
}

.center-block{
    margin-right: 20px;
}

h4{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 50px;
    font-weight:bolder;
}

.center-block{
    font-weight: bold;
}